.footer {
  background-color: #0e1014;
  min-height: 4rem;
  color: #f8fafc;
  font-size: 14px;
  font-weight: 200;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  font-weight: 600;
  padding-left: 1rem;
  text-decoration: none;
  color: #4ade80;
}
.link:link {
  color: #4ade80;
}
