* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

.header {
  background-color: #0e1014;
  height: 6rem;

  color: #f1f5f9;
  font-size: 3rem;
  font-weight: 600;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 1rem;
}
.nav-container {
  padding: 0.5rem 0 0.5rem 1rem;
  font-size: 1.15rem;
  text-decoration: none;
  display: flex;

  gap: 1rem;
  background-color: aqua;
}
.routes {
}
