* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}
*::selection {
  background-color: #4b5563;
  color: white;
}
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.header {
  background-color: #0e1014;
  min-height: 7rem;
  color: #f8fafc;
  font-size: 3rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
}
.nav-container {
  font-size: 1rem;
  min-height: 2.25rem;
  align-items: stretch;
  padding: 6px 0 0 1rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  top: 0;
  position: sticky;
  gap: 1rem;
  background-color: #0e1014;
  z-index: 1;
}
.enabled {
  color: #f8fafc;
  text-decoration: none;
}
.enabled:hover {
  color: #4ade80;
}
.disabled {
  text-decoration: none;
  color: #4ade80;
  border-bottom: 4px solid #4ade80;
  pointer-events: none;
  transition: border 0.2s ease;
}

.footer {
  margin-top: auto;
  background-color: #0e1014;
  min-height: 4rem;
  color: #f8fafc;
  font-size: 14px;
  font-weight: 200;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 600px) {
  .nav-container {
    justify-content: center;
  }
}

@media (min-width: 1024px) {
}
